# Validate by running `git config --global -l --include`
[core]
	editor = nvim
[push]
	default = simple
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
	fpush = push --force-with-lease
	fast-amend = commit -a --no-edit --amend
	diff-word = diff --word-diff=color
	fixup = commit -a -m fixup
	prune-all = fetch --all --prune
	push-origin = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
	align-submodules = submodule update --init --recursive --checkout
	fzco = "!git branch | awk '$1 != \"*\" { print $1 }' | fzf --height=20% --reverse --print0 --info=inline | xargs -0 git checkout"
	fzdel = "!git branch | awk '$1 != \"*\" { print $1 }' | fzf --height=20% --reverse --print0 --info=inline | xargs -0 git branch -d"
[include]
	path = ~/.gitconfig-private
[init]
	defaultBranch = main
[pull]
	ff = only
[pager]
	branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	updateRefs = true
